var path = require('path');

module.exports = {
  entry: './JS/index.js',
  output: {
    path: path.resolve(__dirname, 'dist),
    filename: 'main.js'
    publicPath: '/',
  },
  module: {
    rules: [
        {test: /\.(js)$/, use: 'babel-loader'},
        {test: /\.css$/, use: [ 'style-loader', 'css-loader' ]},
        use: {
          loader: 'babel-loader',
          options: {
            presets: [
              ['env', {
                modules: false,
              }],
            ],
            plugins: [
              'syntax-dynamic-import',
            ],
          },
        },
      }
    ]
  }
};