/* General */

* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #F0F0F0;
  height: 100vh;
}

input:focus {
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12vh auto 0;
  width: 40vw;
  background-color: #FFFFFF;
  border-radius: 3%;
  box-shadow: 15px 15px 17px 6px #A8A8A8;
}

/* Utils */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* Search section */

.search-container {
  width: 95%;
  margin: auto;
  padding: 3.5vh 0;
}

.search-container input {
  font-size: 1rem;
  height: 3rem;
  width: 75%;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  padding-left: 0.5rem;
}

::placeholder {
  padding-left: 0.5rem;
}

.search-container button {
  font-size: 1rem;
  font-weight: bold;
  height: 3.5rem;
  width: 20%;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
}

/* Info */

.user-info {
  width: 95%;
  margin: auto;
}

.personal-details {
  display: flex;
}

.contact-details {
  width: 60%;
}

.personal-details img {
  width: 30%;
  margin-right: 5%;
  height: 50%;
}

/* Repos */

.repositories {
  max-height: 20rem;
  overflow-y: scroll;
}

hr {
  border: none;
  height: 1.5px;
  background-color: black;
}

.repo-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 95%;
  height: 4rem;
  margin: auto;
  line-height: 2rem;
}

.repo-activity {
  display: flex;
}

.repo-activity p,
.repo-activity i {
  margin: 0 0.1rem;
  height: 4rem;
  line-height: 4rem;
}

.repo-activity:last-child {
  padding-right: 0.5rem;
}

/* Error message */

.error-message {
  border: 1px solid #993702;
  background-color: #F9DEDE;
  border-radius: 5px;
  font-weight: bold;
  width: 10rem;
  color: #993702;
  padding: 1.5rem 14.5rem 1.5rem 0.5rem;
  margin-bottom: 1.5rem;
}